@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: auto;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-brandBg: #f6f4f4;
}

.rotating-text {
  animation: rotateText 10s linear infinite;
  transform-origin: center;
}

@keyframes rotateText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

:root {
  --brand-yellow: #ffff00;
  --brand-orange: #ffa500;
  --brand-gradient: linear-gradient(
    to right,
    var(--brand-yellow),
    var(--brand-orange)
  );
}

.gradient-bg {
  background: var(--brand-gradient);
}

.gradient-text {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}


.mask {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg ...>') no-repeat center;
  mask: url('data:image/svg+xml;utf8,<svg ...>') no-repeat center;
  -webkit-mask-size: cover;
  mask-size: cover;
}